{{> header}}
<main>
  <h1>Login</h1>
  <form id="login-form">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
  </form>
  <h2>or</h2>
  <h1>Sign Up</h1>
  <form id="signup-form">
    <label for="signup-username">Username</label>
    <input type="text" id="signup-username" name="username" required>
    <label for="signup-password">Password</label>
    <input type="password" id="signup-password" name="password" required>
    <button type="submit">Sign Up</button>
  </form>
</main>
{{> footer}}
